<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Hello world</p>
    <p>Pagina de entrada en localhost</p>
    <ul>
      <li> <a href="/main">main</a></li>
      <li><a href="/private">Private</a></li>
      <li><a href="/register">Register new user</a></li>
    </ul>
  </body>
</html>
